.flex-box {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}